* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  user-select: none;
}

.container {
  width: 1106px;
  margin: auto;
}

.ul__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 96px;
}

.header__list {
  display: flex;
  align-items: center;
  width: 450px;
  height: 53px;
  justify-content: space-between;
  list-style-type: none;
}

.link__list {
  font-family: "Space Mono", monospace;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
  cursor: pointer;
}

.ul__button {
  width: 180px;
  height: 53px;
  background-color: #FCB72B;
  border: none;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  color: #FFFFFF;
}

.hero {
  width: 100%;
  height: 650px;
}

.container__hero {
  width: 1440px;
  height: 650px;
  margin: auto;
}

.hero__header {
  width: 100%;
  height: 650px;
  background-image: url("../Image/Bitmap.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 153px;
  padding-left: 165px;
}

.hero__headerone {
  width: 500px;
  height: 112px;
  margin: 0px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #FFFFFF;
  margin-bottom: 88px;
}

.hero__image {
  margin-left: -164px;
}

.hero__button:hover {
  background-color: #0CAFFF;
  cursor: pointer;
}

.hero__paragraph {
  width: 405px;
  height: 100px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  margin-left: 80px;
  margin-top: -60px;
}

.hero__picture {
  padding-left: 540px;
  margin-top: -60px;
}

.hero__button {
  width: 180px;
  height: 53px;
  background-color: #FCB72B;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  margin-left: -915px;
  margin-top: -40px;
  border: none;
}

.intro {
  width: 100%;
  height: 451px;
}

.intro__header {
  width: 100%;
  height: 451px;
  padding-top: 160px;
}

.intro__meta {
  display: flex;
  width: 100%;
  height: 291px;
}

.intro__card {
  width: 370px;
  height: 292px;
  background-color: rgb(255, 255, 255);
  padding-top: 45px;
}

.intro__logo {
  width: 100%;
  height: 20px;
  background-image: url("../Image/Tayoq.svg");
}

.intro__transform {
  width: 200.3px;
  height: 19px;
  background-color: #E5ECF4;
  transform: translate(-200px);
  margin-top: -18.9px;
}

.intro__image {
  margin-top: -65px;
  padding-bottom: 40px;
}

.intro__images {
  margin-top: -44.8px;
  margin-bottom: 40px;
}

.intro__headertree {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
  padding-bottom: 27px;
}

.intro__pragraph {
  width: 345px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}

.block {
  width: 100%;
  height: 649.94px;
}

.block__header {
  width: 100%;
  height: 649.94px;
  padding-top: 200px;
}

.block__meta {
  display: flex;
  width: 100%;
  height: 449.94px;
  gap: 85px;
  align-items: center;
}

.block__charset {
  width: 445px;
  height: 313px;
}

.block__headerone {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
  margin: 0px;
  padding-bottom: 24px;
}

.block__pragraph {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
  padding-bottom: 40px;
}

.block__button {
  width: 180px;
  height: 53px;
  background-color: #FCB72B;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  border: none;
}

.block__button:hover {
  background-color: #1F75FE;
  cursor: pointer;
}

.block__title {
  position: relative;
  width: 576px;
  height: 445px;
}

.block__image {
  padding-left: 129px;
}

.block__photos {
  position: absolute;
  top: 292px;
  left: 0px;
}

.sentral {
  width: 100%;
  height: 600px;
}

.sentral__header {
  width: 100%;
  height: 600px;
  padding-top: 154.8px;
}

.sentral__meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 445px;
}

.sentral__charset {
  width: 445px;
  height: 445px;
  background-image: url("../Image/Bitmap Copy.png");
  background-repeat: no-repeat;
}

.sentral__before {
  width: 85%;
  height: 260px;
  transform: translate(-167px);
}

.sentral__card {
  width: 445px;
  height: 313px;
}

.section__title {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  margin: 0px;
  letter-spacing: -2.14286px;
  color: #495567;
  padding-bottom: 24px;
}

.section__pragraph {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
  padding-bottom: 40px;
}

.section__btn {
  width: 180px;
  height: 53px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  background-color: #FCB72B;
  border: none;
}

.section__btn:hover {
  background-color: #008E97;
  cursor: pointer;
}

.example {
  width: 100%;
  height: 605px;
}

.example__header {
  width: 100%;
  height: 605px;
  padding-top: 160px;
}

.example__lang {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 445px;
}

.example__meta {
  width: 445px;
  height: 313px;
}

.example__charset {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
  margin: 0px;
  padding-bottom: 24px;
}

.example__name {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
  padding-bottom: 40px;
}

.exaple__title {
  width: 180px;
  height: 53px;
  font-family: "Space Mono", monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  background-color: #FCB72B;
  border: none;
}

.exaple__title:hover {
  background-color: #0077c0;
  cursor: pointer;
}

.axample__card {
  width: 468px;
  height: 445px;
}

.example__image {
  width: 135.2%;
  height: 100%;
}

.footer {
  width: 100%;
  height: 629px;
}

.footer__header {
  width: 100%;
  height: 629px;
  padding-top: 329px;
}

.footer__charset {
  width: 1424px;
  height: 300px;
  background-image: url("../Image/Mask.jpg");
  background-repeat: no-repeat;
}

.footer__contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 300px;
}

.footer__card {
  width: 425px;
  height: 110px;
}

.footer__content {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #FFFFFF;
  margin: 0px;
}

.footer__logo {
  display: flex;
  justify-content: space-between;
  width: 359px;
  height: 59px;
}

.footer__icons {
  width: 159px;
  height: 56px;
  background-color: #E5ECF4;
  border-radius: 4px;
  cursor: pointer;
}

.footer__icons:hover {
  width: 159px;
  height: 56px;
  background-color: #E5ECF4;
  border-radius: 4px;
  box-shadow: 0px 0px 7px 1.1px #bb00ff;
}

.footer__text {
  width: 100%;
  height: 100%;
}

.footer__stop {
  width: 100%;
  height: 96px;
  background: #333A44;
}

.footer__stop-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 96px;
}

.footer__ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: space-between;
}

.footer__book {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  width: 417px;
  height: 30px;
}

.footer__box {
  display: flex;
  align-items: center;
  width: 120px;
  height: 24px;
  margin-left: 570px;
}

.footer__link {
  display: flex;
  text-decoration: none;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 15px;
  line-height: 35px;
  color: #939CAA;
}

.used {
  padding-left: 24px;
}/*# sourceMappingURL=main.css.map */